.slide-y-enter-active {
  transition: all 0.3s ease-out;
}

.slide-y-leave-active {
  transition: all 0.8s ease;
}

.slide-y-enter-from,
.slide-y-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
