.layout {
  &:has(.head) {
    .head + * {
      margin-top: 2rem;
    }
  }

  &:has(.logo + .title) {
    .title {
      margin-top: 2rem;
    }
  }

  .logo {
    position: relative;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
  }

  .description {
    margin-top: 1rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    color: #8d97a6;

    &.centered {
      text-align: center;
    }
  }

  &:not(:has(.description + .form)) {
    .form {
      margin-top: 2rem;
    }
  }

  .form {
    width: 100%;

    .error {
      padding: 1.5rem;
      color: red;
    }
  }

  .additionalButton {
    margin-top: 1.5rem;
  }

  .checkbox {
    margin-top: 2rem;
  }
}
