@import url('/fonts/Helvetica/index.css');
@import url('/fonts/Akrobat/index.css');

@font-face {
  src: url('/fonts/Golos-UI/Golos-UI_Regular.ttf');
  font-family: 'Golos UI';
  font-weight: 400;
}
@font-face {
  src: url('/fonts/Golos-UI/Golos-UI_Medium.ttf');
  font-family: 'Golos UI';
  font-weight: 500;
}
@font-face {
  src: url('/fonts/Golos-UI/Golos-UI_Bold.ttf');
  font-family: 'Golos UI';
  font-weight: 600;
}

@font-face {
  src: url('/fonts/Akrobat/Akrobat.ttf');
  font-family: 'Akrobat';
}

@font-face {
  src: url('/fonts/Manrope/Manrope.ttf');
  font-family: 'Manrope';
}

@font-face {
  src: url('/fonts/Inter/Inter.ttf');
  font-family: 'Inter';
}