// Clear width
$cw: 1800px;
$one: calc(1vh + 5vw);
$scrollWidth: .8rem;
$loaderSize: 20rem;
$contentPaddingX: clamp(1rem, (1vh + 5vw) * 0.5, 2rem);

$bgColor: 10 10 10;
$_bgColor_PREVIEW: rgb(10 10 10);

$buttonWhiteBg: rgb(255, 255, 255);
$buttonWhiteText: rgb(0, 0, 0);
$buttonWhiteBgHover: rgb(226, 226, 226);
$buttonWhiteTextHover: rgb(0, 0, 0);

$buttonBlackBg: rgb(0, 0, 0);
$buttonBlackText: rgb(255, 255, 255);
$buttonBlackBgHover: rgb(8, 8, 8);
$buttonBlackTextHover: rgb(255, 255, 255);

$buttonGrayBg: rgb(18, 18, 18);
$buttonGrayText: rgb(255, 255, 255);
$buttonGrayBgHover: rgb(26, 26, 26);
$buttonGrayTextHover: rgb(255, 255, 255);
$buttonGrayDisabledText: rgb(85, 85, 85);

$buttonTransparentBg: transparent;
$buttonTransparentText: rgb(185, 185, 185);
$buttonTransparentBgHover: transparent;
$buttonTransparentTextHover: rgb(255, 255, 255);

$buttonStrokedStrokeColor: rgb(255, 255, 255);
$buttonStrokedBg: transparent;
$buttonStrokedText: rgb(255, 255, 255);
$buttonStrokedBgHover: transparent;
$buttonStrokedTextHover: rgb(255, 255, 255);

$inputDefaultBg: rgb(20, 20, 20);
$inputDefaultText: rgb(255, 255, 255);
$inputDefaultPlaceholder: rgb(108, 108, 122);
$inputDefaultBgWrong: rgb(16, 16, 18);
$inputDefaultTextWrong: rgb(255, 255, 255);
$inputDefaultPlaceholderWrong: rgb(108, 108, 122);
$inputDefaultBgHover: rgb(25, 25, 25);
$inputDefaultTextHover: rgb(255, 255, 255);
$inputDefaultPlaceholderHover: rgb(108, 108, 122);
$inputDefaultStrokeColorWrong: rgb(221, 84, 84);

$selectDefaultSelectedBg: rgb(20, 20, 20);
$selectDefaultSelectedText: rgb(108, 108, 122);
$selectDefaultSelectedTextHover: rgb(255, 255, 255);
$selectDefaultListBg: rgb(31, 31, 31);
$selectDefaultOptionText: rgb(122, 122, 122);
$selectDefaultOptionTextHover: rgb(178, 182, 255);
$selectDefaultOptionTextActive: rgb(178, 182, 255)