.uploadAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 1.5rem;
  cursor: pointer;

  user-select: none;
  -webkit-user-drag: none;

  img {
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    background: #383c44;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  p {
    font-weight: 500;
    font-size: 0.88rem;
    color: #fff;
  }
}

.captcha {
  border-radius: 0.5rem;
}
