.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  transition-property: opacity, visibility;

  &.active {
    opacity: 1;
    visibility: visible;

    .content {
      opacity: 1 !important;
      transform: none !important;
    }
  }

  &.opticate .content {
    padding: 0;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    will-change: backdrop-filter;
  }

  .contentWrapper {
    $paddingX: 1rem;
    max-height: 80vh;
    max-width: calc(100% - $paddingX * 2);

    .content {
      position: relative;
      overflow: auto;

      width: 100%;
      height: 100%;

      padding: 2rem;
      border-radius: 1rem;
      background: #282d35;

      opacity: 0;
      transform: scale(0.8) translate3d(0, 30vh, 0);
      transition: 0.35s cubic-bezier(0.63, -0.25, 0, 1);
      transition-property: transform, opacity;
    }
  }

  @media (max-width: 430px) {
    .contentWrapper {
      .content {
        padding: 1.5rem;
      }
    }
  }
}
