@import "./scss/Textarea.default.scss";

.textarea {
  border: none;
  outline: none;
  background: none;

  padding: 0.75rem 1rem;

  font-size: .9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  user-select: none;
  border-radius: 0;
  transition: .15s ease;
  transition-property: background, color, box-shadow;
  
  &.fill {
    width: 100%;
  }

  .icon {
    flex-shrink: 0;
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
  }

  &::placeholder {
    color: white;
    font-weight: 400;
  }
}