// @import url('~/assets/fonts/Helvetica/index.css');
@import url('https://fonts.cdnfonts.com/css/roboto-flex');

@font-face {
	src: url('~/assets/fonts/RobotoFlex/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff2') format('woff2-variations');
	font-family:'Roboto Flex';
	font-style: normal;
}