button.button.stroked {
  border: 1px solid;
  background: transparent;

  &.dark,
  &.light {
    color: $buttonStrokedText;
    border-color: $buttonStrokedStrokeColor;

    &:not(.red) {
      &:hover,
      &.hovered,
      &:focus,
      &.focused,
      &:active,
      &.pressed {
        $color: $buttonStrokedTextHover;
  
        background: $buttonStrokedBg;
        color: $color;
  
        .icon [stroke]:not([stroke~=none]) { stroke: $color; }
        .icon [fill]:not([fill~=none]) { fill: $color; }
      }
    }
  }
  
  // &:disabled,
  // &.disabled,
  // &[data-disabled] {
  //   &.dark {
  //     $color: $buttonStrokeTextDark;

  //     color: $color;
  //     border-color: $buttonStrokeColorDark;
  
  //     .icon [stroke]:not([stroke~=none]) { stroke: $color; }
  //     .icon [fill]:not([fill~=none]) { fill: $color; }
  //   }

  //   &.light {
  //     $color: $buttonStrokeTextLight;

  //     color: $color;
  //     border-color: $buttonStrokeColorLight;
  
  //     .icon [stroke]:not([stroke~=none]) { stroke: $color; }
  //     .icon [fill]:not([fill~=none]) { fill: $color; }
  //   }
  // }
}