button.button.transparent {
  background: $buttonTransparentBg;

  &.dark,
  &.light {
    color: $buttonTransparentText;

    &:not(.red) {
      &:hover,
      &.hovered {
        $color: $buttonTransparentTextHover;
  
        background: $buttonTransparentBgHover;
        color: $color;
  
        .icon [stroke]:not([stroke~=none]) { stroke: $color; }
        .icon [fill]:not([fill~=none]) { fill: $color; }
      }
      
      &:focus,
      &.focused {
        $color: $buttonTransparentTextHover;
  
        background: $buttonTransparentBgHover;
        color: $color;
  
        .icon [stroke]:not([stroke~=none]) { stroke: $color; }
        .icon [fill]:not([fill~=none]) { fill: $color; }
      }
  
      &:active,
      &.pressed {
        $color: $buttonTransparentTextHover;
  
        background: $buttonTransparentBgHover;
        color: $color;
  
        .icon [stroke]:not([stroke~=none]) { stroke: $color; }
        .icon [fill]:not([fill~=none]) { fill: $color; }
      }
    }
  }
  
  // &:disabled,
  // &.disabled,
  // &[data-disabled] {
  //   &.dark {
  //     $color: $buttonStrokeTextDark;

  //     color: $color;
  //     border-color: $buttonStrokeColorDark;
  
  //     .icon [stroke]:not([stroke~=none]) { stroke: $color; }
  //     .icon [fill]:not([fill~=none]) { fill: $color; }
  //   }

  //   &.light {
  //     $color: $buttonStrokeTextLight;

  //     color: $color;
  //     border-color: $buttonStrokeColorLight;
  
  //     .icon [stroke]:not([stroke~=none]) { stroke: $color; }
  //     .icon [fill]:not([fill~=none]) { fill: $color; }
  //   }
  // }
}