.burger {
  flex-shrink: 0;
  border: none;
  outline: none;

  width: 3rem;
  height: 3rem;
  padding: 0.62rem;

  color: #8d97a6;
  background: #1c2026;
  border-radius: 1rem;
  transition: 0.15s ease;
  cursor: pointer;

  &:hover {
    color: #8d97a6;
    background: #23272d;
  }

  &.active {
    color: #fff;
    background: #282d35;
  }

  .icon {
    color: inherit;

    * {
      color: currentColor;
    }
    [fill]:not([fill~='none']) {
      fill: currentColor;
    }
    [stroke]:not([stroke~='none']) {
      stroke: currentColor;
    }
  }
}
